
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
    font-size: 18px;
    color: map-deep-get($colors, 'foreground', 'dark');
    font-family: $font-text;
  }


  
h1 {
  @include fluid-text('xxl', 'lg');
  font-family: $font-headline;
  font-weight: bold; 
}

h2 {
  @include fluid-text('lg', 'md');
}

h3 {
  @include fluid-text('lg', 'big');
}

h4 {
  @include fluid-text('md', 'base');
}

p {
  @include fluid-text('base', 'additional');
}



a {
  text-decoration: none;
  opacity: 0.75;
  color: map-deep-get($colors, 'foreground', 'light');
  cursor: pointer;
}

  a:hover {
  opacity: 1;
  }



ul {
    list-style: none;
}


