
///////// Hero block /////////

.hero {
  text-align: center;
  min-height: 100vh;
  color: map-deep-get($colors, 'foreground', 'light');
  overflow: hidden;
}

.hero__content-area {
  position: absolute;
  top: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  opacity: 0;  // change to 1 by animation 
  margin-top: 30px; // cleared by animation 
  animation: 1s slidefade 0.7s forwards;
}

.hero__title-quote {
  font-family: $font-headline;
  font-weight: bold; 
  padding-bottom: 20px;
  @include fluid-text('big', 'base');

  @media screen and (max-width: 800px) {
    font-weight: normal; 
  }

}

.hp-section__title {
  text-transform: capitalize;
  font-family: $font-headline;
  text-align: center;
  margin-bottom: 25px;
}


section:not(.hero):nth-child(even) {
  background-color: #f5f5f5;
}

///////// Grid - Home Page /////////


.hp-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/// grid -- destination section ///

.hp-grid--destination {
  li {
    display: block;
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
  }
}

.hp-grid--destination {
  li.small {
    flex-basis: 30%;

    @media screen and (max-width: 800px) {
      flex-basis: 100%;
    }
  }

  li.large {
    flex-basis: 70%;

    @media screen and (max-width: 800px) {
      flex-basis: 100%;
    }
  }
}


/// grid -- packages section ///

.hp-grid--packages {
  li {
    display: flex;
    flex-flow: column;
    padding: 50px;
    flex-basis: 50%;
    align-items: center;

    @media screen and (max-width: 860px) {
      padding: 25px;
    }

    @media screen and (max-width: 680px) {
      flex-basis: 100%;

    }

  }

  i {
    color: map-deep-get($colors, 'primary', 'base');
  }

  h4 {
    margin: 25px 0;
    color: map-deep-get($colors, 'primary', 'base');
  }

  p {
    @media screen and (max-width: 1000px) {
      padding: 0px;
    }
  }
}



///////// Contact section - email input /////////


.contact {
  padding-bottom: 130px;
}

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.contact__form--hide {
  display: none; 
}


.contact__input {
  min-width: 400px;
  padding: 15px;
  font-size: 18px;
  color: map-deep-get($colors, 'primary', 'base');
  flex: 1;

}


.contact__btn {
  padding: 18px 20px;
  margin-left: 20px;

  @media screen and (max-width: 1200px) {
    margin-top: 25px;
    margin-left: 0;
  }
}

.js-contact__form--subthanks {
  display: none;
}

.js-email--valid {
  display: inline;
  
  text-transform: capitalize;
  font-family: $font-headline;
  text-align: center;
  padding: 15.77px 0;
  
}

.js-email--invalid {
  position: absolute;
  display: inline;
  border-radius: 4px;
  padding-left: 5px;
  color: #FF4B38;
  font-size: 13px;
  
}



