@font-face {
  font-family: 'aileronsregular';
  src: url("../fonts/ailerons/ailerons-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0; } }

@keyframes fadein {
  100% {
    opacity: 1; } }

@keyframes tourslidefade {
  100% {
    margin-top: 30px;
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 18px;
  color: #555555;
  font-family: "Oswald", sans-serif; }

h1 {
  font-size: calc(42.63px + 33.13 * ( (100vw - 650px) / 450));
  font-family: "aileronsregular";
  font-weight: bold; }
  @media screen and (max-width: 650px) {
    h1 {
      font-size: 42.63px; } }
  @media screen and (min-width: 1100px) {
    h1 {
      font-size: 75.76px; } }

h2 {
  font-size: calc(23.99px + 18.64 * ( (100vw - 650px) / 450)); }
  @media screen and (max-width: 650px) {
    h2 {
      font-size: 23.99px; } }
  @media screen and (min-width: 1100px) {
    h2 {
      font-size: 42.63px; } }

h3 {
  font-size: calc(31.98px + 10.65 * ( (100vw - 650px) / 450)); }
  @media screen and (max-width: 650px) {
    h3 {
      font-size: 31.98px; } }
  @media screen and (min-width: 1100px) {
    h3 {
      font-size: 42.63px; } }

h4 {
  font-size: calc(18px + 5.99 * ( (100vw - 650px) / 450)); }
  @media screen and (max-width: 650px) {
    h4 {
      font-size: 18px; } }
  @media screen and (min-width: 1100px) {
    h4 {
      font-size: 23.99px; } }

p {
  font-size: calc(16px + 2 * ( (100vw - 650px) / 450)); }
  @media screen and (max-width: 650px) {
    p {
      font-size: 16px; } }
  @media screen and (min-width: 1100px) {
    p {
      font-size: 18px; } }

a {
  text-decoration: none;
  opacity: 0.75;
  color: #F2F2F2; }

a:hover {
  opacity: 1; }

ul {
  list-style: none; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 80px; }
  @media (min-width: 680px) and (max-width: 860px) {
    section {
      padding: 90px 40px; } }
  @media (max-width: 450px) {
    section {
      padding: 90px 40px; } }
  section p {
    max-width: 775px;
    line-height: 2;
    padding-bottom: 20px;
    margin-bottom: 30px;
    text-align: center; }

section:not(.hero):nth-child(even) {
  background-color: #f5f5f5; }

.hero {
  text-align: center;
  min-height: 100vh;
  color: #F2F2F2;
  overflow: hidden; }

.hero__content-area {
  position: absolute;
  top: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  opacity: 0;
  margin-top: 30px;
  animation: 1s slidefade 0.7s forwards; }

.hero__title-quote {
  font-family: "aileronsregular";
  font-weight: bold;
  padding-bottom: 20px;
  font-size: calc(18px + 13.98 * ( (100vw - 650px) / 450)); }
  @media screen and (max-width: 650px) {
    .hero__title-quote {
      font-size: 18px; } }
  @media screen and (min-width: 1100px) {
    .hero__title-quote {
      font-size: 31.98px; } }
  @media (max-width: 800px) {
    .hero__title-quote {
      font-weight: normal; } }

.hp-section__title {
  text-transform: capitalize;
  font-family: "aileronsregular";
  text-align: center;
  margin-bottom: 25px; }

.hp-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.hp-grid--destination li {
  display: block;
  height: 350px;
  padding: 20px;
  background-clip: content-box;
  background-size: cover;
  background-position: center; }

.hp-grid--destination li.small {
  flex-basis: 30%; }
  @media (max-width: 800px) {
    .hp-grid--destination li.small {
      flex-basis: 100%; } }

.hp-grid--destination li.large {
  flex-basis: 70%; }
  @media (max-width: 800px) {
    .hp-grid--destination li.large {
      flex-basis: 100%; } }

.hp-grid--packages li {
  padding: 50px;
  flex-basis: 50%;
  text-align: center; }
  @media (max-width: 860px) {
    .hp-grid--packages li {
      padding: 25px; } }
  @media (max-width: 680px) {
    .hp-grid--packages li {
      flex-basis: 100%; } }

.hp-grid--packages i {
  color: #494A68; }

.hp-grid--packages h4 {
  margin: 25px 0;
  color: #494A68; }

@media (max-width: 1000px) {
  .hp-grid--packages p {
    padding: 0px; } }

.contact {
  padding-bottom: 130px; }

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%; }

.contact__btn {
  padding: 18px 20px; }

.contact__input {
  padding: 15px;
  margin-right: 30px;
  font-size: 18px;
  color: #494A68;
  flex: 1; }
  @media (max-width: 1100px) {
    .contact__input {
      flex-basis: 100%;
      margin: 0 0 20px; } }

.tours-section {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
  padding: 56px 0 0 0;
  color: #F2F2F2; }

.tours-section__title {
  order: 2;
  margin-top: 80px;
  margin-bottom: 60px;
  opacity: 0;
  animation: 1s tourslidefade 0.4s forwards; }

@keyframes tourslidefade {
  100% {
    margin-top: 30px;
    opacity: 1; } }

.tours-offer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  flex-grow: 2;
  max-width: 100%;
  opacity: 0;
  margin-top: 20px;
  animation: 1s tablelidefade 0.4s forwards; }

@keyframes tablelidefade {
  100% {
    margin-top: 0px;
    opacity: 1; } }

.tours-offer__background {
  z-index: -1;
  width: 100%;
  position: absolute;
  margin-bottom: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 0;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), black);
  animation: 1s upslidebackground 0.4s forwards; }

@keyframes upslidebackground {
  0% {
    height: 0; }
  100% {
    height: 100%; } }

.tours-table {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-self: flex-start;
  width: 40%;
  padding-bottom: 9px;
  background-color: #141728;
  border-top: 1px solid #5D5D77;
  border-bottom: 1px solid #5D5D77;
  border-radius: 3px; }

.tours-table__header {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: no-wrap;
  overflow: hidden;
  padding: 20px 0px; }

.tours-table__column-title {
  font-size: calc(18px + 5.99 * ( (100vw - 650px) / 450));
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 110px;
  padding-left: 5px; }
  @media screen and (max-width: 650px) {
    .tours-table__column-title {
      font-size: 18px; } }
  @media screen and (min-width: 1100px) {
    .tours-table__column-title {
      font-size: 23.99px; } }

.tours-table__sortarrow {
  font-size: 25px;
  width: auto;
  align-self: flex-end;
  padding: 0px 0px 2px 5px;
  color: #2E3354;
  cursor: pointer; }

.js-tours-table__sortarrow--sort-on {
  color: #F2F2F2; }

.js-tours-table__table-body {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  color: #F2F2F2; }

.js-tours-table__table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #0E1122;
  border-top: 1px solid #5D5D77;
  border-bottom: 1px solid #5D5D77;
  border-radius: 3px;
  padding: 12px 0px;
  margin: 5px 4px; }

.js-tours-table__row-element {
  width: 108px; }

.tours-filter {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-self: flex-start;
  height: 50%;
  width: 10%;
  background-color: #141728;
  margin-right: 10px;
  border-top: 1px solid #5D5D77;
  border-bottom: 1px solid #5D5D77;
  border-radius: 3px;
  padding-bottom: 9px; }

.tours-filter__fieldset {
  background-color: #0E1122;
  border: none;
  border-top: 1px solid #5D5D77;
  border-bottom: 1px solid #5D5D77;
  border-radius: 3px;
  padding: 14px 0px;
  margin: 5px 4px; }
  .tours-filter__fieldset label {
    font-size: 16px;
    line-height: 1.25rem;
    display: block;
    text-align: left;
    padding: 0 0 8px 5px; }
  .tours-filter__fieldset input, .tours-filter__fieldset i {
    cursor: pointer; }

.slide-container {
  width: 100%; }

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 8px;
  border-radius: 5px;
  background-color: #5D5D77;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F2F2F2;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #F2F2F2;
  cursor: pointer; }

.user-modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.js-user-modal--visible {
  display: flex; }

.user-modal__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  background-color: #f4f7fc;
  padding: 45px 30px;
  border: 1px solid #888;
  border-radius: 4px;
  height: auto;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .user-modal__container h4 {
    margin: 10px 0;
    font-size: calc(16px + 7.99 * ( (100vw - 650px) / 450)); }
    @media screen and (max-width: 650px) {
      .user-modal__container h4 {
        font-size: 16px; } }
    @media screen and (min-width: 1100px) {
      .user-modal__container h4 {
        font-size: 23.99px; } }

.js-user-modal__view-changer {
  font-size: calc(16px + 7.99 * ( (100vw - 650px) / 450));
  width: 30%;
  font-weight: bold;
  color: #07c;
  cursor: pointer;
  margin-bottom: 40px; }
  @media screen and (max-width: 650px) {
    .js-user-modal__view-changer {
      font-size: 16px; } }
  @media screen and (min-width: 1100px) {
    .js-user-modal__view-changer {
      font-size: 23.99px; } }

.user-modal__register h3 {
  margin-bottom: 15px; }

.user-modal__form {
  display: flex;
  flex-flow: column;
  align-items: stretch; }
  .user-modal__form input {
    background-color: #f4f7fc;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #888;
    border-radius: 6px;
    color: #494A68;
    flex: 1; }

.user-modal__btn {
  margin: 15px 0; }

.fa-times {
  font-size: 20px;
  padding: 10px;
  color: #555555;
  position: absolute;
  right: 0;
  top: 0; }

.user-modal__conditions-terms {
  padding: 0 10px;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  font-size: 13.5px;
  line-height: 1.25rem; }
  .user-modal__conditions-terms span {
    font-size: 13.5px;
    line-height: 1.25rem;
    color: #07c;
    cursor: pointer; }

.navbar {
  position: fixed;
  width: 100%;
  list-style: none;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  padding: 25px 100px 25px;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
  color: #F2F2F2;
  font-family: "aileronsregular";
  z-index: 1; }
  @media (max-width: 800px) {
    .navbar {
      padding-right: 50px;
      padding-left: 50px; } }
  @media (max-width: 650px) {
    .navbar {
      flex-direction: column; } }
  @media (max-width: 650px) {
    .navbar h4 {
      margin-bottom: 15px; } }
  .navbar div {
    display: flex;
    margin-right: -15px; }
    .navbar div li {
      margin: 0 15px;
      font-size: calc(16px + 2 * ( (100vw - 650px) / 450)); }
      @media screen and (max-width: 650px) {
        .navbar div li {
          font-size: 16px; } }
      @media screen and (min-width: 1100px) {
        .navbar div li {
          font-size: 18px; } }

.js-scrolled--outofhero {
  background-color: #0E1122;
  padding: 12px 100px 12px;
  transition: padding 0.3s ease-in;
  box-shadow: 0px 6px 20px -5px #0E1122; }

.js-scrolled--backwards a {
  transition: opacity 0.15s ease-in;
  opacity: 1; }

.js-scrolled__navfade a {
  transition: opacity 0.15s ease-in;
  opacity: 0;
  pointer-events: none;
  cursor: default; }

.horizontal-ruler {
  width: 250px;
  height: 3px;
  background-color: #494A68;
  border: 0;
  margin-bottom: 50px; }

.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  background-color: #0E1122;
  opacity: 1;
  padding: 20px 46px;
  font-size: calc(16px + 7.99 * ( (100vw - 650px) / 450)); }
  @media screen and (max-width: 650px) {
    .btn {
      font-size: 16px; } }
  @media screen and (min-width: 1100px) {
    .btn {
      font-size: 23.99px; } }
  @media (max-width: 800px) {
    .btn {
      padding: 15px 36px; } }

.background-image {
  position: absolute;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #0E1122; }

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -61px;
  padding: 12px 0;
  color: #F2F2F2;
  background-color: #0E1122; }
  footer ul {
    display: flex;
    margin-right: 30px; }
    footer ul li {
      margin-left: 16px; }
  footer p {
    font-size: 13.5px;
    line-height: 1.25rem;
    margin-left: 30px;
    opacity: 0.6; }
