/*General Styles*/

@font-face {
    font-family: 'aileronsregular';
    src: url('../fonts/ailerons/ailerons-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: bold 18px 'Oswald', sans-serif;
    color: #555;
}

ul {
    list-style: none;
}

a {
    position:relative;
    z-index:10;
    text-decoration: none;
    opacity: 0.75;
    color: #f2f2f2;
}

a:hover {
    opacity: 1;
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #0E1122;
    box-shadow: 0px 6px 20px -5px rgb(14,17,34, 0.8);
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
    
}

section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #494a68;
    border: 0;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font-family: "aileronsregular";
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

/*Navbar Styles*/
nav {
    position: fixed;
    width: 100%;
    list-style: none;
    top: 0; /* Position the navbar at the top of the page */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px 25px;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #f2f2f2;
}
.scrolledback {
    animation: 0.4s fadein forwards;
    transition: all 5ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
  
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

nav h2 {
    font-family: "aileronsregular";
}

nav div {
    display: flex;
    font-family: "aileronsregular";
    margin-right: -15px;
}

 nav div li {
    margin: 0 15px;
}

@media (max-width: 800px) {
    nav {
        padding: 20px 50px;
        flex-direction: column;
    }

    nav h2 {
        margin-left: 15px;
        margin-bottom: 15px;
    }
}
 .scrolled {
    background: rgb(14,17,34, 0.8);
    animation: 0.3s navOpacity forwards;
    animation-timing-function: easeOutQuint;
    padding: 12px 100px 12px;
    box-shadow: 0px 6px 20px -5px rgb(14,17,34, 0.8);
 }


 @keyframes navOpacity {
    100% {
        opacity: 1;
    }
}

 /* MAIN PAGE  */

/*Hero Styles*/

.hero {
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #f2f2f2;
    overflow: hidden;
}
.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #161b31;
}

.hero h1{
    font: bold 65px "aileronsregular";
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 30px "aileronsregular";
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 0.7s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    hero h1 {
        font-size: 48px;
    }
    hero h3 {
        font-size: 24px;
    }
    hero a.btn {
        padding: 15px 40px;
    }
}

/* Destinations Section */

.destinations .grid li {
    display: block;
    height: 350px;
    padding: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small {
    flex-basis: 30%;
}

.destinations .grid li.large {
    flex-basis: 70%;
}

@media (max-width: 1100px) {
    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 50%;
    }
}

@media (max-width: 800px) {
    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 100%;
    }
}

/* Packages Section */

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li i {
    color: #494a68;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
    color: #494a68;
}

@media (max-width: 800px) {
   .packages .grid .li {
       flex-basis: 100%;
       padding: 20px;
   }
}

/* Contact Section */

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn {
    padding: 18px 20px;
}

.contact form input {
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #494a68;
    flex: 1;
}

@media (max-width: 1000px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px;
    }
}

/*FOOTER SECTION */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0E1122;
    color: #fff;
    margin-top: -61px;
    padding: 12px 0;
    font-weight: normal;

}

footer ul {
    display: flex;
    margin-right: 30px;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
    margin-left: 30px;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
     }

    footer ul li {
         margin: 0 8px;
     }

    footer ul {
        margin: 0;
    }
}

/* ////// TOURS PAGE ////// */
.tourshero {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    padding: 56px 0 0 0;
    overflow: hidden;
}

.tourshero h1 {
    order: 2;
    font: bold 60px "aileronsregular";
    margin-top: 80px;
    margin-bottom: 60px;
    opacity: 0;
    animation: 1s tourslidefade 0.4s forwards;
}

@keyframes tourslidefade {
    100% {
        margin-top: 30px;
        opacity: 1;
    }
}

.tours-offer {
    display: flex; 
    position: relative;
    flex-direction: row; 
    justify-content: center;
    flex-grow: 2;
    max-width: 100%;
    opacity: 0; 
    margin-top: 20px;
    animation: 1s tablelidefade 0.4s forwards;
}

@keyframes tablelidefade {
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.tours-offer-background {
    z-index: -1;
    width: 100%;
    position: absolute;
    margin-bottom: 61px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 0;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(0,0,0,1));
    animation: 1s upslidebackground 0.4s forwards;

}

@keyframes upslidebackground {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
/* Table Filter*/
.tours-table-filter{
    display: flex; 
    flex-direction: column; 
    flex-wrap: no-wrap;
    align-self: flex-start;
    height: 50%;
    width: 10%;
    background-color: #0E1122;
    margin-right: 10px;
    border-top: 1px solid #5D5D77;
    border-bottom: 1px solid #5D5D77;
    border-radius: 3px;
    padding-bottom: 9px;
}
.each-filter-box{
    display: flex;
    flex-direction: column; 
    flex-wrap: no-wrap;
}

.each-filter { 
    background-color: #0E1122;
    border: none;
    border-top: 1px solid #5D5D77;
    border-bottom: 1px solid #5D5D77;
    border-radius: 3px;
    padding: 14px 0px;
    margin: 5px 4px;
}

.each-filter label {
    font-size: 15px;
    display: block;
    text-align: left;
    padding: 0 0 8px 5px;
}

input, i {
    cursor: pointer;
}


/* Slider */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 8px;
    border-radius: 5px;
    background: #5D5D77;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f2f2f2;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #f2f2f2;
    cursor: pointer;
}



/* Tours Table */
.tours-table {
    display: flex; 
    flex-direction: column; 
    flex-wrap: no-wrap;
    align-self: flex-start;
    width: 40%;
    padding-bottom: 9px;
    background-color: #0E1122;
    border-top: 1px solid #5D5D77;
    border-bottom: 1px solid #5D5D77;
    border-radius: 3px;

}

.table-header {
    display: flex;   
    justify-content: space-around;       
    flex-direction: row;    
    flex-wrap: no-wrap;  
    padding: 20px 0px;
    font: medium 20px 'Oswald', sans-serif;
}

.each-header {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 110px;
    padding-left: 5px;
}
.sortarrow {
    font-size: 23px;
    width: auto;
    align-self: flex-end;
    padding: 0px 0px 2px 5px;
    color:#2E3354;
}

.sort-on {
    color:#DDDDDD;
}

.each-trip {
    display: flex;
    flex-direction: column;  
    flex-wrap: no-wrap;   
    color:#DDDDDD;
    font: medium 15px 'Oswald', sans-serif;
}
.trip {
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    background-color: #141728;
    border-top: 1px solid #5D5D77;
    border-bottom: 1px solid #5D5D77;
    border-radius: 3px;
    padding: 12px 0px;
    margin: 5px 4px;
}
.trip .property {
    width: 108px;
}